<html>
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	 {% load static %}
	<link rel="stylesheet" href="{% static 'main.css' %}">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<header>
		<nav class="green darken-2">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo center">Launcher</a>
				<ul id="nav-mobile" class="right hide-on-large-and-up">
					<li>
						<a href="#" data-activates="slide-out" class="button-collapse">
							<i class="material-icons">menu</i>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<ul id="slide-out" class="side-nav fixed">
		<li>
			<div class="user-view">
				<!-- <div class="background">
					<img src="{% static 'avatar.jpeg' %}">
				</div> -->
				<a href="#!user">
					<img class="circle" src="{% static 'avatar.jpeg' %}">

				</a>
				<a href="#!name">
					<span class="black-text name">John Doe</span>
				</a>
				<a href="#!email">
					<span class="black-text email">jdandturk@gmail.com</span>
				</a>
			</div>
		</li>
		<li>
			<a href="/">
				<!-- <i class="material-icons">cloud</i> -->
				Home</a>
		</li>
		<li>
			<a href="/wallet">
				<!-- <i class="material-icons">cloud</i> -->
				Wallet</a>
		</li>
		<li>
			<a href="/market">Market</a>
		</li>
	</ul>
	 <main>
		 {% block content %} {% endblock %}
	 </main>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script rel="stylesheet" src="{% static 'main.js' %}"></script>

</body>

</html>