{% extends './base.html' %} {% block content %}
<div class="row">
	<div class="col s6 m12">
		<div class="card">
			<div class="container center card-content">
				<h4>Balance</h4>
			</div>
		</div>
	</div>
	<div class="col s6 m12">
		<div class="card">
			<div class="container center card-content">
				<h4>Redeem</h4>
			</div>
		</div>
	</div>
	<div class="col s6 m12">
		<div class="card">
			<div class="container center card-content">
				<h4>Refer</h4>
			</div>
		</div>
	</div>
</div>
{% endblock %}